<template>
    <header>
        <h1>{{title}}</h1>
        <Button @btn-click="$emit('toggle-add-task')" v-bind:color="showAddTask ? 'red' : 'green'" :text="showAddTask ? 'Close' : 'AddTask'" />
    </header>
</template>

<script>
import Button from './Button'

export default{
    name: 'Header',
    props: {
        title: String,
        showAddTask: Boolean
    },
    components: {
        Button
    }
}
</script>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .btn {
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #111;
        border: none;
        border-radius: 3px;
    }
</style>
